block card
    .demo__card
        .demo__card__top.brown
            .demo__card__img(style="background-image: url(" +  question.icon + "); scale:0.5")
            p.demo__card__name(style="font-size: 14px") #{question.questions}
        //.demo__card__btm
            p.demo__card__we
            .container-fluid
                .row
                    .col-sm-6
                        .card-body
                            h5.card-title
                    .col-sm-6
                        .card-body
                            h5.card-title
        .demo__card__choice.m--reject
        .demo__card__choice.m--like
