block card
    .demo__card
        .demo__card__top.brown
            .demo__card__img(style="background-image: url('https://i.imgur.com/udTln22.png');")
            p.demo__card__name Test
        .demo__card__btm
            p.demo__card__we sl kdfj öasdkj fölasfölaksj dfösdjfkl
        .demo__card__choice.m--reject
        .demo__card__choice.m--like
        .demo__card__drag
    p.demo__tip Swipe left or right
