extends layout

block content
    include header
       .row
        .col-md-6
            i.fas.fa-2x.fa-coins.coin-balance.d-flex.justify-content-center#mlp-coin
        .col-md-6
            i.fas.fa-2x.fa-money-bill-wave.bill-balance.d-flex.justify-content-center#mlp-bill
        .mt-0
       #progressbar

    .demo__content
        .demo__card-cont
            for question in questions
              include card
              - var question = question
    include modal
    script.
        document.body.style.background = "#D9E9F9";
        document.body.style.backgroundImage = "none";