extends layout

block content
    include header
       .row
        .col-md-6.mlp-mini-spacing
            i.fas.fa-2x.fa-coins.coin-balance.d-flex.justify-content-center#mlp-coin
        .col-md-6
            i.fas.fa-2x.fa-money-bill-wave.bill-balance.d-flex.justify-content-center#mlp-bill
    .mt-lg-1
    #progressbar

    .demo__content
        .demo__card-cont
            for question in questions
              include card
              - var question = question
    include modal
    //footer.page-footer.font-small.blue.pt-4(style="padding-top: 60px !important;")
        .container-fluid.text-center.text-md-left
            .row
                .col-md-6.mt-md-0.mt-3
                    h5.text-uppercase Footer Content
                    p Here you can use rows and columns here to organize your footer content.
                hr.clearfix.w-100.d-md-none.pb-3

    script(src='/javascripts/card-controller.js')
    script.
        document.body.style.background = "#D9E9F9";
        document.body.style.backgroundImage = "none";
