extends layout

block content
    include header
     .row
         .col-md-3
           i.fas.fa-lg.fa-coins.coin-balance.justify-content-center#mlp-coin
         .col-md-3
         .col-md-3
         .col-md-3
            #progressbar

    .demo__content
        .demo__card-cont
            for question in questions
              include card
              - var question = question
