extends layout

block content
    include header
       i.fas.fa-2x.fa-coins.coin-balance.d-flex.justify-content-center#mlp-coin
       #progressbar

    .demo__content
        .demo__card-cont
            for question in questions
              include card
              - var question = question
