block header
    nav.navbar.navbar-expand-lg.navbar-light.bg-primary
        a.navbar-brand(href='#' ) MLP Life Experience
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
