extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') ThisGame.Rocks
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
  p Welcome to #{title} our page!
  .container
    .row
    for char in characters
     .col-sm
        .card(style='width: 18rem;')
          img.card-img-top(src=char.image_source, alt='XXXXXXX')
          .card-body
            h5.card-title char.name
            p.card-text
                | char.description
            a.btn.btn-primary(href='#') Use this Character
