extends layout

block content
    .container-fluid
        .row.mlp-carousel
            #carouselExampleControls.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleControls', data-slide-to='0')
                    li(data-target='#carouselExampleControls', data-slide-to='1')
                    li(data-target='#carouselExampleControls', data-slide-to='2')
                    li(data-target='#carouselExampleControls', data-slide-to='3')
                .carousel-inner
                    each char, index in characters
                        if index === 0
                            .carousel-item.active
                                .col-xl-12.d-flex.align-items-stretch
                                    .card
                                        img.card-img-top(src="/img/" + (index) + ".png", alt='XXXXXXX')
                                        .card-body
                                            h5.card-title.text-center #{char.name}
                                            p.card-text.text-center
                                                | #{char.description}
                                            a.btn.btn-primary.align-self-end.button-center(href='/game/' + (index + 1)) Play
                        else
                            .carousel-item
                                .col-xl-12.d-flex.align-items-stretch
                                    .card
                                        img.card-img-top(src="/img/" + (index) + ".png", alt='XXXXXXX')
                                        .card-body
                                            h5.card-title.text-center #{char.name}
                                            p.card-text.text-center
                                                | #{char.description}
                                            a.btn.btn-primary.align-self-end.button-center.disabled(href='/game/' + (index + 1)) Coming Soon
                    a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true' data-slide="prev")
                        span.sr-only Previous
                    a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true' data-slide="next")
                        span.sr-only Next