extends layout

block content
    link(rel='stylesheet', href='/stylesheets/okay.css')
    div.success
        | Your balance is #{balance}€
    h1
        | Keep on going!
    footer.page-footer.font-small.blue.pt-4
        .row
            .col-md-4
            .col-md-4
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-snapchat-ghost"></i>
            .col-md-4