extends layout

block content
    link(rel='stylesheet', href='/stylesheets/poor.css')
    script(src='/javascripts/contact.js')
    div.success
        | Your balance is #{balance}€
        h1
            | Let's help out!

    include modal
    footer.page-footer.font-small.blue.pt-4
        .row
            .col-md-4
            .col-md-4
                .row
                    .col-md-3
                        i.fab.fa-lg.fa-facebook-f
                    .col-md-3
                        i.fab.fa-lg.fa-instagram
                    .col-md-3
                        i.fab.fa-2x.fa-snapchat-ghost
                    .col-md-3
                        div(onclick='showLowModal()')
                            i.fas.fa-2x.fa-info
            .col-md-4