extends layout

block content
    link(rel='stylesheet', href='/stylesheets/success.css')
    link(rel='stylesheet', href='/stylesheets/fireworks.css')
    div.success
        | Your balance is #{balance}€
    h1
        | You rock!
    div#canvas-container
    include modal

    footer.page-footer.font-small.blue.pt-4
        .row
            .col-md-4
            .col-md-4
                i.fab.fa-2x.fa-facebook-f
                i.fab.fa-2x.fa-instagram
                i.fab.fa-2x.fa-snapchat-ghost
                i.fas.fa-2x.fa-info
            .col-md-4
    script(src='/javascripts/fireworks.js')